* {
	padding: 0;
	margin: 0;
}
body {
	background-color: #2f2f2f;
	color: white;
	font-family: Arial;
}

#header {
	padding: 5px;
    background-color: #252525;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid white;
}
#headerMenu {
    text-align: center;
}

#content {
    margin-top: 53px;
    padding: 5px;
}