*, :before, :after {
	padding: 0;
	margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #2f2f2f;
    background-image: url("../images/bg.jpg");
    background-size: 100vw 100vh;
    background-position: center bottom;
	color: #fff;
	font-family: Arial;
    font-size: 20px;
}

#header {
	padding: 5px;
    background-color: #252525;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-bottom: 1px solid #fff;
    z-index: 2;
}
#headerMenu {
    text-align: center;
}
#headerMenu img {
    user-select: none;
    -webkit-user-select: none;
}

#wrapper {
    padding-top: 70px;
    height: 100vh;
}

.button {
    display: table;
    margin: 0 auto;
    position: relative;

    padding: 5px;
    margin-bottom: 5px;
    border: 1px solid white;
    border-radius: 5px;
    min-width: 250px;

    background: linear-gradient(45deg, rgb(249, 158, 26) 10px, #252525 0%);
}
.button:hover {
    background: linear-gradient(45deg, #252525 10px, rgb(249, 158, 26) 0%);
}
.button a {
    text-decoration: none;
    color: #fff;
    text-shadow: 1px 1px 0 #000, -1px -1px 0 #000, -1px 1px 0 #000, 1px -1px 0 #000;
    letter-spacing: 1px;

    cursor: pointer;
    user-select: none;
    -webkit-user-select: none;
}

#footer {
    position: fixed;
    bottom: 0px;
    padding: 5px;
}
#footer p {
    color: #ABABAB;
    font-size: 10px;
    font-style: italic;
}

#menu:not(:target), #gen:not(:target), #create:not(:target) {
    display: none;
}