#content {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);

    min-width: 500px;
    max-width: 800px;

    text-align: center;
}

.shown {
	display: block;
}
.hidden {
	display: none;
}